<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/e10456d112.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tipper Sets </title>
    </head>

    <body>
        <h1>Tipper Events</h1>
        <ul class="events">
            <% for(let i=0; i < info.length; i++) {%>
                <li class="event">
                    <span><%= info[i].event %></span>
                    <span><%= info[i].eventName %></span>
                    <span><%= info[i].type %></span>
                    <span><%= info[i].venue %></span>
                    <span><%= info[i].location %></span>
                    <span><%= info[i].setCount %></span>
                    <span><%= info[i].dates %></span>
                    <span><%= info[i].likes %></span>
                    <span class="fa-duotone fa-thumbs-up"></span>
                    <span class="fa-solid fa-trash-xmark"></span>
                </li>
                <% } %>
        </ul>

        <h2>Add a Set!</h2>

        <form action="/addEvent" method="POST">
            <input type="text" placeholder="Event Fan Name" name="event">
            <input type="text" placeholder="Official Event Name" name="eventName">
            <input type="text" placeholder="Indoor/Outdoor/or Theater?" name="type">
            <input type="text" placeholder="Event Venue" name="venue">
            <input type="text" placeholder="City, State" name="location">
            <input type="text" placeholder="How many sets?" name="setCount">
            <input type="text" placeholder="Dates" name="dates">
            <input type="submit">
        </form>


        <script src='js/main.js'></script>
    </body>

    </html>